{% extends 'base.html.twig' %}

{% block title %}    {{parent()}} - Editar Artículo{% endblock %}

{% block body %}
    {{parent()}}
    <h4>Editar artículo</h4>

    {{ include('posts/_form.html.twig', {'button_label': 'Guardar cambios'}) }}


    {{ include('posts/_delete_form.html.twig') }}
{% endblock %}
