{% extends 'base.html.twig' %}

{% block title %}    {{parent()}} - Create New Post{% endblock %}

{% block body %}
    {{parent()}}
    <br>

    <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-6 bg-white rounded my-3 p-5">
                        <h4>Añadir un nuevo artículo</h4>

                        {{ include('posts/_form.html.twig') }}
                        
                    </div>
                </div>
            </div>
{% endblock %}
