{% extends 'base.html.twig' %}

{% block title %}    {{parent()}} - Create New Post{% endblock %}

{% block body %}
    {{parent()}}
    <h1>Create new Post</h1>

    {{ include('posts/_form.html.twig') }}

    <a href="{{ path('posts_index') }}">back to list</a>
{% endblock %}
