@font-face {
    font-family: 'signikabold';
    src: url('../fonts/signika-bold-webfont.woff2') format('woff2'),
         url('../fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular-webfont.woff2') format('woff2'),
    url('../fonts/signika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'remachine_script_personal_uRg';
    src: url('../fonts/remachinescript_personal_use-webfont.woff2') format('woff2'),
    url('../fonts/remachinescript_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {font-family: "HMSansLatin-Regular";
            src: url("//db.onlinewebfonts.com/t/09c8fb44d2c62d99647e4ce58736293e.eot"); 
            src: url("//db.onlinewebfonts.com/t/09c8fb44d2c62d99647e4ce58736293e.eot?#iefix") 
            format("embedded-opentype"), url("//db.onlinewebfonts.com/t/09c8fb44d2c62d99647e4ce58736293e.woff2") 
            format("woff2"), url("//db.onlinewebfonts.com/t/09c8fb44d2c62d99647e4ce58736293e.woff") 
            format("woff"), url("//db.onlinewebfonts.com/t/09c8fb44d2c62d99647e4ce58736293e.ttf") 
            format("truetype"), url("//db.onlinewebfonts.com/t/09c8fb44d2c62d99647e4ce58736293e.svg#HMSansLatin-Regular") 
            format("svg"); }

body {
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;


}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    text-align: center;
}

.navbar{
    background-color:#fff /* #006cbe Color azul perfecto*/ !important;
    font-family: remachine_script_personal_uRg;
    font-size: 1.3em;
    max-height: 3.3em;
}

.navbar-brand{
    font-family: remachine_script_personal_uRg;
    font-size: 2em;
    color: #000 !important;
}

.navbar-brand a:hover{
    text-decoration: none;
}

.nav-link{
    color: #000 !important;
    width: 25em;
    text-align: center;
}

.fa-user, .bg-yellow {
    color: #ffceba;
    font-size: 0.8em;
}
.fa-clock, .bg-green{
    color: #ffceba;
    font-size: 0.8em;
}

.cursor:hover{
    cursor: pointer;
}
.dropdown-menu a{
    color: #000 !important;
}
/* Colors */

#colorblack{
    color:#000;
}

#colorRed{
    color:#FF0120;
}
.imgpost{
    width:325px;
    height:375px;
    padding:0px;
    border-radius: 2%;
}

.postsRow{
    margin-top: 5em;
}
/* Likes */
.btnLikeColor:hover{
    color: #FF0120;
}
#btnLikeControl {
    display: none;
}
#btnLikeControl:checked + label >  i {
    color: #FF0120;
}
/* Fecha de publicacion */

.publicationDate{
    font-size: 9px;
}
/* Font Size de Posts */
.postTextSize{
    font-size: 13px;
}