{% extends 'base.html.twig' %}

{% block title %}     {{parent()}} - Editar Categoría{% endblock %}

{% block body %}
    {{parent()}}
    <h4>Editar Categoría</h4>

    {{ include('category/_form.html.twig', {'button_label': 'Guardar cambios'}) }}
    <br>
    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
