{% extends 'base.html.twig' %}

{% block title %}    {{parent()}}- Categorías{% endblock %}

{% block body %}
        {% for category in pagination  %}
                <div class="bg-white rounded" onclick="window.location.href='/categoria/{{category.id}}/index'">
                    <h3>{{category.name}}</h3>
                        <div class="align-self-center">
                            <img class="rounded hoverable" src="{{ asset('uploads/fotos/'~category.foto)}}" width="90%" height="175px">
                        </div>
                    <br>
                    <hr>
                </div>      

        {% endfor %}
{% endblock %}
