{% extends 'base.html.twig' %}

{% block title %}    {{parent()}} - Nueva Categoría{% endblock %}

{% block body %}
    {{parent()}}
    <h4>Crear nueva categoría</h4>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">Regresar</a>
{% endblock %}
