{% extends 'base.html.twig' %}

{% block title %}    {{parent()}} - Editar Usuario{% endblock %}
{% block header%}
{% endblock %}
{% block body %}
    <div class="nav">
        <a href="{{path('dashboard')}}">
            <img src="{{ asset('img/hjlogo.png') }}"  width="9%" height="125px" class="navbar-brand" id="colorblack" >
        </a>
    </div>
    <div class="container userShowEdit">
        <h4>Editar cuenta de usuario</h4>

        {{ include('registro/_form.html.twig', {'button_label': 'Guardar cambios'}) }}
    
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %} 